<style>
	.header {
		display: inline-block;
		padding: 1px 3px;
		background-color: #00308F;
		color: #fff;
		font-weight: bold;
	}

	.foo {
		height: 4px;
		border: none;
		color: #00308F ;
		background-color: #00308F;
	}
</style>
<article style="margin: 1.5rem">
	<div style="margin-bottom: 1rem;">
		<div class="header" >
			<h3>@SectionTitle</h3>
		</div>
		<div >
			<hr class="foo" style="margin: 0"/>
		</div>
	</div>
	
	@ChildContent
</article>

@code 
{
	[Parameter] public string SectionTitle { get; set; }
	[Parameter] public RenderFragment ChildContent { get; set; }
}
